@font-face {
  font-family: "Tektur";
  src: url("../fonts/Tektur-VariableFont_wdth\,wght.ttf");
}

@font-face {
  font-family: "Space-Mono";
  src: url("../fonts/Space_Mono/SpaceMono-Regular.ttf");
}

@font-face {
  font-family: "Digital";
  src: url("../fonts/DS-DIGIB.TTF");
}
